<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Test Suite" parallel="false">
    <test name="User Management Tests">
        <classes>
            <class name="com.orangehrm.tests.suites.UserManagementTestSuite"/>
        </classes>
    </test>
</suite> 